/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #000;
}

#content {
  background-color: #FFF;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav {
  height: 64px;
  border-bottom: 4px solid #333;
  background-image: url("../images/bg.png");
  background-color: #fff;
  background-repeat: repeat;
}

nav img {
  position: relative;
  top: 1px;
  height: 63px;
  width: 62px;
  overflow: hidden;
  width: auto; // to maintain aspect ratio. You can use 100% if you don't care about that
  height: 100%;
}

nav a {
  color: rgb(0, 0, 0);
  position: relative;
}

nav ul a{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.page-footer {
  background-color: #333;
  position: relative;
}

.page-footer a {
  color: #FFF;
  text-decoration: underline;
}

.page-footer .footer-copyright {
  background-color: #000;
}

.sidenav {
  z-index: 1001;
  background-color: #333;
}

.sidenav li > a {
  color: #FFF;
}

.sidenav li > a:hover {
  color: #FFF;
  background-color: rgba(0, 207, 206, 0.5);
}

.mapContainer {
  height: 100vh;
  padding:0 !important;
}

#map {
  height: 92vh;
  background-color: #EEE;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.green-header {
  background-color: #9ACD66;
  color: #222;
  margin-top: 4px;
}

.green-header span{
  display: inline-block;
}

.green-header h5 {
  font-weight: bold;
  margin: 0;
  padding: 20px 10px;
  display: inline-block;
}

.teal-header {
  background-color: #029A66;
  color: #222;
}

.teal-header span{
  display: inline-block;
}

.teal-header h5 {
  font-weight: bold;
  margin: 0;
  padding: 20px 10px;
  display: inline-block;
}

.blue-header {
  background-color: #6494C6;
  color: #222;
}

.blue-header span{
  display: inline-block;
}

.blue-header h5 {
  font-weight: bold;
  margin: 0;
  padding: 20px 10px;
  display: inline-block;
}

.owl_footer {
  position: absolute;
  overflow: visible;
  bottom: 45px;
  right: 10px;
  width: 130px;
  height: 140px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: .10;
}
